@using Xolartek.Entities;
@model List<Schematic>
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h3>HOME PAGE</h3>
        </div>
        <div class="col-sm-6">
            @foreach(Schematic schema in Model)
            {
                <div>Item</div>
            }
        </div>
    </div>
</div>