<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=XolartekDb;Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/evals/meta" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="NoSecurityPlusRM">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Default" name="Xolartek.Services.XolarService">
        <endpoint address="http://localhost:8080/evals/basic" binding="basicHttpBinding" contract="Xolartek.Services.IXolarService" />
        <endpoint address="http://localhost:8080/evals/ws" binding="wsHttpBinding" bindingConfiguration="NoSecurityPlusRM" contract="Xolartek.Services.IXolarService" />
        <endpoint address="net.tcp://localhost:8081/evals" binding="netTcpBinding" contract="Xolartek.Services.IXolarService" />
        <endpoint address="net.pipe://localhost/evals" binding="netNamedPipeBinding" contract="Xolartek.Services.IXolarService" />
        <endpoint address="http://localhost:8080/evals/onemore" binding="basicHttpBinding" contract="Xolartek.Services.IXolarService" />
        <endpoint address="http://localhost:8080/evals/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:8081/evals/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>