<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=XolartekDb;Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Xolartek.Services.XolarService">
        <endpoint address="http://localhost:8080/evals/basic" binding="basicHttpBinding" contract="Xolartek.Services.IXolarService" />
        <endpoint address="http://localhost:8080/evals/ws" binding="wsHttpBinding" bindingConfiguration="NoSecurityPlusRM" contract="Xolartek.Services.IXolarService" />
        <endpoint address="net.tcp://localhost:8081/evals" binding="netTcpBinding" contract="Xolartek.Services.IXolarService" />
        <endpoint address="net.pipe://localhost/evals" binding="netNamedPipeBinding" contract="Xolartek.Services.IXolarService" />
        <endpoint address="http://localhost:8080/evals/onemore" binding="basicHttpBinding" contract="Xolartek.Services.IXolarService" />
        <endpoint address="http://localhost:8080/evals/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:8081/evals/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" httpGetUrl="http://localhost:8080/evals/meta" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="NoSecurityPlusRM">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>